.firsthw{
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    border: 2px dotted red;
    background: green;
}

.secondhw{
    width: 1000px;
    height: 500px;
}

.secondhw p{
    word-break: break-all;
}

.firstimg{
    width: 300px;
    height: 168px;
    float: left;
    margin: 20px;
}

.secondimg{
    width: 300px;
    height: 168px;
    float: right;
    margin: 20px;
}